* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  border: none;
  text-decoration: none;
  outline: none;
}

body {
  background: var(--primary);
  color: var(--secondary) !important;
}

::-webkit-scrollbar {
  width: 0px;
}

.bg{
  /* background: url(/images/particles/bgi.jpg); */
  background: linear-gradient(-45deg, rgba(0,43,37,1) 10%, rgba(3,100,120,1) 100%);
  background-size: cover;
  background-position: center;
}
.bg-bg{
  /* background: url(/images/particles/bg.jpg); */
  background: linear-gradient(145deg,  rgb(44, 0, 85) 0%, rgba(46,0,50,1) 31%, rgb(76, 27, 82) 89%);
  background-size: cover;
  background-position: center;
}
.bg-to-do{
  background: linear-gradient(145deg, rgba(7,170,186,1) 0%, rgba(3,28,65,1) 14%, rgba(0,24,40,1) 90%, rgba(179,0,255,1) 100%);
  background-size: cover;
  background-position: center;
}

.mixture{
  width: 100%;
  height: 10px;
  background: var(--pri-light);
  /* background: linear-gradient(to top,var(--primary),var(--pri-light)); */
  margin-top: 200px;
}
.mixture-inv{
  width: 100%;
  height: 10px;
  background: var(--pri-light);
  /* background: linear-gradient(to bottom,var(--primary),var(--pri-light)); */
  margin-bottom: 200px;
}

.padding-top{
  padding-top: 200px;
  /* padding-bottom: 200px; */
}

.font-size{
  font-size: 25px;
}

.button-outline{
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
  background: transparent;
  text-align: center;
}

.button-outline:hover{
  transition: .5s ease-in-out;
  background: var(--secondary);
  color: var(--primary);
}

.center{
  float: center;
}

.input{
  /* width: 100%; */
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  border: var(--secondary) 1px solid;
}

.input input{
  background: transparent;
  width: 100%;
  /* border-right: #fff solid 5px; */
  margin-left: 10px;
  color: var(--secondary);
}
.input input::placeholder{
  color: var(--secondary);
}
.input i{
  margin-top: 2px;
  /* margin-right: 5px; */
}

.input-date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.outline{
  border-radius: 15px;
  border: #fff 1px solid;
  padding: 50px;
}

.box{
  max-height: 300px;
  overflow-y: scroll;
}