<section class="padding-top" >
    <div class="container">
       {{#if done}}
        <h3 class="text-center">Done</h3>
       {{#each done}}
        <div class="outline mb-3">
            <p class="float-end">Data: {{this.date}}</p>
            <ol class="mt-5 box">
               {{#each this.program}}
                <li class="mt-3" >
                   <p>{{this.text}}</p> 
                </li>
               {{/each}}
            </ol>
        </div>
       {{/each}}
        {{else}}
        <h3 class="text-center">You have no done</h3>
        {{/if}}
    </div>
</section>