<section id="login" class="padding-top bg-bg" >
       <div class="container" style="display: flex;flex-direction: column;align-items: center;justify-content: center;"  >
           <div class="col-md-4 outline">
               <h3 class="text-center mb-3"><i class="fas fa-fingerprint"></i> Login</h3>
           <form  id="login-verification"  >
               {{!-- action="/login" method="post" --}}
               {{!-- id="login-verification" --}}
               <div style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
                   <h6 class="text-danger" id="login-err" ></h6>
               <div class="input" ><i class="fas fa-lock"></i><input type="password" name="password" placeholder="Password" ></div>
               <button type="submit" class="button-outline mt-3" ><i class="fas fa-fingerprint"></i> Login</button>
               </div>
           </div>
           </form>
       </div>
       <div class="mixture" ></div>
    </section>