<!-- Footer -->
<footer class="bg">
    <div class="mixture-inv-footer"></div>

  <!-- Footer Links -->
  <div class="container" style="text-decoration: none ;color:white;" >

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        {{#if me}}
      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/Home" style="text-decoration: none ;color:white;" ><i class="fas fa-home"></i> Home</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/to-do" style="text-decoration: none ;color:white;" ><i class="fas fa-clipboard-list"></i> To Do Today</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/done" style="text-decoration: none ;color:white;"><i class="fas fa-check"></i> Done</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/drop" style="text-decoration: none ;color:white;" ><i class="fas fa-slash"></i> Drop</a></a>
        </h6>
      </div>
      <div class="col-md-2 mb-3 mt--3">
        <h6 class="text-uppercase font-weight-bold">
          <button onclick="logout()" class="button-outline" ><i class="fas fa-fingerprint"></i> Logout</button>
        </h6>
      </div>
      <!-- Grid column -->
      {{else}}
       <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/drop" style="text-decoration: none ;color:white;" ><i class="fas fa-home"></i> Home</a></a>
        </h6>
      </div>
       <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/login" class="button-outline" ><i class="fas fa-fingerprint"></i> Login</a>
        </h6>
      </div>
      {{/if}}
    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
          {{#if me}}
        <p style="line-height: 1.7rem">"Success is the result of perfection, hard work, learning from failure, loyalty, and persistence"</p>
          {{else}}
          <p>If you do not know the password for Login. Get out of here fast</p>
          {{/if}}
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

   
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 gradient-text" style="font-size: 15px;" >© 2020 Copyright:
    <a href="/"><i class="fas fa-stream"></i> ToDoApp</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->